altair
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
decorator
entrypoints
ffmpeg-python
filelock
future
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
MarkupSafe
more-itertools
numpy
packaging
pandas
Pillow
pkgutil_resolve_name
protobuf
pyarrow
pydeck
pydub
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
rich
semver
six
smmap
streamlit
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
whisper @ git+https://github.com/openai/whisper.git@8cf36f3508c9acd341a45eb2364239a3d81458b9
zipp
